[2015-06-08 18:49] rraghuram64 opened #1 "Issue with the version of Hadoop"
Hello,
I am trying to use this library using the databricks cloud to parse a SAS file of the format ".sas7bdat" but I am unable to do it as the version of hadoop being used by the databricks cloud is 1.2.1 and not sure what version this package is supported.
I am attaching the code and also the output of the code.

Lastly how do I use this library on a spark cluster that is deployed on amazon ec2

[2015-06-08 20:37] rraghuram64 commented on #1
I also tried to run manually trying to use google cloud as my file system but its not support.Here is the attached screen shoot of the output.
![capture_log](https://cloud.githubusercontent.com/assets/12616596/8044733/363e503e-0df4-11e5-9954-4a87787c42a0.JPG)

[2015-06-08 21:12] rraghuram64 commented on #1
Here is the input that I found which may help and appears to be same problem that I am hitting with.

http://stackoverflow.com/questions/26450708/fail-to-run-spark-job-when-using-globstatus-and-google-cloud-storage-bucket-as-i

[2015-06-09 11:41] saurfang commented on #1
Thanks for the report. Indeed the splittable inputformat was implemented for Hadoop 2 only so it only runs for Hadoop 2.x. I might look into how difficult it is to make this Hadoop 1 compatible.

For your second question, I'm not familiar with google cloud storage but I find this information could be useful for you case: https://cloud.google.com/hadoop/google-cloud-storage-connector#configuring

I

[2015-06-09 14:45] rraghuram64 commented on #1
I have already setup the same core-site.xml file with the setting that are mentioned in the link you shared.When I try to do the following it works fine and I am able to access the data from the google cloud and its works fine for me .

val test=sc.textFile("gs://test-bucket/test-file/README.md")

But when I use the same with the following command I get the error

val cars = sqlContext.sasFile("gs

[2015-06-09 21:43] rraghuram64 commented on #1
Hi,
I played it with extensively today converting the SAS files in to CSV but was not sucessful in doing this task and not sure with the reason.
When I run exactly the same program that you have provided the output created a folder with .csv and has some files called _SUCESS (which has nothing in it).
I also gave a short to convert it in to parquet files but its creating directory with that name a

[2015-06-09 22:46] saurfang commented on #1
Thanks for providing these useful information. That's very odd. Since you have forked the repository, do you mind running `sbt test` on the terminal? Does the test pass or fail?

I see when you load the data into a dataframe, it was able to infer the schema correctly. Can you try `df.first` and `df.count`? Do they gives you the first row and number of rows correctly?

If this is not confidential d

[2015-06-10 02:42] saurfang commented on #1
I just pushed an update to a new branch #2 where I made this compatible with Hadoop 1
Do you know how to pull that branch and build the assembly jar so you can help me test that on the databricks cloud?
I currently don't have access to a hadoop 1 distro to test and might get one up on EC2 during the weekend if needed. (but at least all unit tests are passing in local mode)

Although given your uns

[2015-06-10 15:03] rraghuram64 commented on #1
Here is the dataset I am using .

https://s3.amazonaws.com/mdpbi.testbucket/dsc_optima.sas7bdat

-I will try all those things that you mentioned and will update you with the results.
-I am not sure how to pull them but will work with the databricks cloud team and give it out a try.

[2015-06-10 22:44] saurfang commented on #1
Thanks for sharing the data. Unfortunately, I wasn't able to reproduce your problem. Here is what I did:

[code]
brings me into the Spark shell
[code]
prints the first line of the records
![image](https://cloud.githubusercontent.com/assets/4317392/8095401/ea62436a-0f9b-11e5-9957-39025bc6147e.png)
and
[code]
returns 25000 correctly.

I also tried to save it as csv by
[code]
That finished
![image](h

[2015-06-11 02:52] saurfang commented on #1
Just pushed a new version 1.1.0 which adds support for Hadoop1. You can try with

[code]

I tested this on EC2 with data uploaded to HDFS as well as local FS. I added a fix to pick the right filesystem so in theory this should work for s3 or gs. However I tried it with s3 and it failed. I will take another look this weekend. Meanwhile if you'd like, you can try gs and see if that works for you. Ot

[2015-06-12 13:01] saurfang commented on #1
1.1.2 now should correctly read data from s3n. so you can do

[code]
That's if you have configuration AWS dependencies and AWS access key correctly of course. I tested it using spark-ec2 script.

[2015-06-18 15:42] revolucion09 opened #3 "Implicit import not working in spark 1.4.0"
I can't get to work:
val df = sqlContext.read.format("com.github.saurfang.sas.spark").load("cars.sas7bdat")

Getting:
java.lang.RuntimeException: Failed to load class for data source: com.github.saurfang.sas.spark

Working fine if importing in the explicit way:
import com.github.saurfang.sas.spark._
and using sasFile()

Other modules such as spark-csv are working fine with the load.format() method

[2015-06-18 16:16] saurfang commented on #3
Ah. It turns out I never implemented that part. Sorry I guess you will have to use the `sasFile` for now. If you want to use native SQL query you can register the dataframe as a table in Scala. I might be able to find some time this weekend for this.

[2015-06-18 18:27] saifellafi commented on #3
Thank you, looking forward to it!
ps: (Same user reporter)

[2015-06-28 18:11] saurfang commented on #3
Should worked now. I have released the changes in version 1.1.3. Can you please try and let me know if it works for you?

[2015-06-30 14:20] saifellafi commented on #3
Thank you, will let you know as soon as I try it back.

[2015-06-30 15:53] arungo13 commented on #1
Hi,
This package is really amazing to read proprietary data format. My post is something not directly related to this as I Just looking for your direction in terms of version aspect. I am also having similar scenario i.e. parsing and converting the SAS7BDAT files and looks like spark-sas7bdat package promising but I have another challenges in terms of version compatibility. We are using CDH 5.3 (c

[2015-07-01 02:13] saurfang commented on #1
@arungo13 Thanks for your interests. Unfortunately, dataframe was only formally introduced in Spark 1.3. Spark being a YARN application, is pretty easy to upgrade since it has no component in terms of cluster configuration. Furthermore you can always convert your sas7bdat to parquet or csv using a Spark 1.3 spark-shell then work with Spark 1.2 instead.

That being said, you can still use the built

[2015-07-01 02:13] #1 closed

[2015-07-13 22:16] THABBuzzkill opened #4 "1.3 support"
Running into this..

java.lang.NoClassDefFoundError: org/apache/spark/sql/types/AtomicType
        at com.github.saurfang.sas.spark.SasRelation.inferSchema(SasRelation.scala:111)

Digging around, I see murmers that AtomicType was introduced in 1.4.  Does sas7bdat support 1.3?  The readme seems to indicate it does.

Thanks!

[2015-07-15 19:00] saifellafi opened #5 "java.lang.reflect.InvocationTargetException"
Hello,

I am trying to load a sas7bdat file but I get this exception, and I am being unable to debug it since I am not being able to unwrap the java exception.

It seems to throw it when already having a DataFrame since latest output is:
ffgdirect: org.apache.spark.sql.DataFrame = [asd_dt: string, industry_seg: string,...

Any ideas?

at sun.reflect.GeneratedMethodAccessor104.invoke(Unknown Source

[2015-07-15 19:24] saifellafi commented on #5
There is a slightly different error if I invoke using:

import org.apache.spark.sql.SQLContext

val sqlContext = new SQLContext(sc)
val df = sqlContext.read.format("com.github.saurfang.sas.spark").load("/tmp/file.sas7bdat")
df.count

-----

org.apache.spark.SparkException: Job aborted due to stage failure: Task 14 in stage 0.0 failed 1 times, most recent failure: Lost task 14.0 in stage 0.0 (TID 1

[2015-07-16 13:13] saifellafi opened #6 "Problems when compiling spark-sas7bdat with scala 2.11.6"
There is a small room for a misconfigured environment, but when I compile sas7bdat with scala 2.10.5 it works all properly.

The following error occurs when trying to call an action on a DataFrame from sas7bdat using 2.11.6. After this, java daemon is dead and I have to restart the interpreter.

rg.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 0.0 failed 1 times, m

[2015-07-16 13:23] saifellafi commented on #6
Interesting: I noticed this only happens through incubator-zeppelin notebook. Not happening when using the spark-shell directly.

[2015-07-16 13:42] saifellafi commented on #5
Today I found out there is a problematic row in the data, probably a bad formatted number

[2015-07-16 15:25] saurfang commented on #6
Was the zeppelin also recompiled using scala 2.11? It packages Spark assembly which need also be compiled using 2.11

[2015-07-16 15:26] saifellafi commented on #6
It seems you are right

scala.util.Properties.scalaPropOrElse("version.number", "unknown")
res69: String = 2.10.4

[2015-07-16 15:27] saurfang commented on #5
interesting. I didn't expect you can have malformatted number in SAS as columns are typed. I can see if I can introduce a permissive parsing mode that skips the bad rows just like spark-csv

[2015-07-16 15:30] saifellafi commented on #5
I am investigating the data, I know the problematic row, but we have more than 400 columns. as soon as I dentify the failing column will let you know!

[2015-07-17 14:58] saifellafi commented on #5
Sadly this error is coming up very frequently for me. Trying to load huge sas files, I can load up to a specific row, from which it fails. Sadly I am unable to share the data, and I am unable to identify why is it failing.

[2015-07-19 00:50] #6 closed

[2015-07-19 01:09] saurfang commented on #5
Upon close inspection, the stacktrace you attached shows a stack overflow exception. I pushed a new commit that might fix your problem. Do you know how to create an assembly and try again with the latest master version?

[2015-07-19 02:13] saurfang commented on #4
Confirmed. Will take a look...

[2015-07-20 17:40] saifellafi commented on #5
I did a pull from master and recompile jar file. Allow me to share the new different stack trace of the error. On my end, and after some research, we found many different reasons for problematic rows. The most common one is that SAS null values are represented as -9999900 which is an overloaded value by the schema data.

Please take a look at the caused by tracktrace

org.apache.spark.SparkExcepti

[2015-08-16 03:17] saurfang commented on #4
Unfortunately I don't think this issue is fixable at least as a published artifact. If you need this for Spark 1.3, you can clone the project, change `sparkVersion := "1.3.0"`, then use `sbt assembly` to create an assembly jar. Afterwards, you can run spark-submit or spark-shell and include the jar in `--jars` argument.

[2015-08-16 03:17] #4 closed

[2015-08-16 03:28] saurfang commented on #5
Hmm. I just pushed a commit where I ignore the problematic bytes, by which I'm totally not confident is the correct way to solve your problem. If you're still stuck on this, do you mind giving it a try? It would be helpful if you can reproduce this with a dummy dataset that I can try.

[2015-08-16 03:29] #3 closed

[2015-10-01 14:51] harrysouthworth opened #7 "Parso error"
Hello. I just stumbled on this repo.

In case you don't know, there are cases where Parso silently does the wrong thing:
https://github.com/BioStatMatt/sas7bdat.parso/issues/5

No news since July on when it's getting fixed.

Harry

[2015-10-03 14:27] akellers opened #8 "Using spark-sas7bdat with Spark-1.5.0 yields java.lang.ClassCastException"
I can create a dataframe from a SAS file suing spark-shell with your package using `val df = sqlContext.sasFile("data/sample3.sas7bdat")`. It returns a `org.apache.spark.sql.DataFrame = [String: string, Integer: double, Float: double]`.

But calling `df.count` yields in an exception: `java.lang.ClassCastException: org.apache.spark.sql.catalyst.expressions.GenericMutableRow cannot be cast to org.ap

[2015-10-07 01:48] #8 closed

[2015-10-07 02:01] saurfang commented on #7
Thanks for the info! If you can point me to any of the fixes that should be applied on the parso side, I'm glad to incorporate them into my fork. I had to fork the **SasFileParser** class already due to various issues around S3, stackoverflow exceptions and etc.

[2015-10-07 02:04] saurfang commented on #8
Thanks for reporting. Should be fixed. Let me know if you still have any issues.

[2015-10-07 06:49] harrysouthworth commented on #7
There haven't been any fixes. The guy from the company who created parso
said it would be fixed in a month or two, but that was in July. I checked
their website a couple of weeks ago, but the version of parso hasn't
changed for a couple of years.

He does give a clue about what the problem is in his posts in
sas7bdat.parso: "the number is bigger than Long.MAX_VALUE". I tried to
build parso myself,

[2015-10-07 10:14] akellers commented on #8
Work's fine! Thanks.

[2016-01-21 20:28] saifellafi commented on #5
Hi,

We are still facing  java.lang.reflect.InvocationTargetException
Please let me know if there are any news on the issue.

[2016-01-25 04:39] saurfang commented on #5
Again if you can't give me a minimal dataset that I use to reproduce your problem, it is close to impossible for me to debug the problem you are facing.

[2016-01-26 21:46] fernandrez commented on #5
Good day @saurfang, here I can share a SAS file which is also generating a java.lang.reflect.InvocationTargetException. My best guess is that any parso failure will end up throwing this kind of exception from spark-sas7bdat.

https://www.cms.gov/Medicare/Medicare-Fee-for-Service-Payment/AcuteInpatientPPS/Downloads/FY2015-FR-HCRIS-Data-File.zip

The file was found in the following repo:
https://bit

[2016-01-29 19:33] fernandrez commented on #5
Good day @saurfang, hope everything is going well. Do you have access to the file provided in the previous comment?

[2016-01-31 05:20] saurfang commented on #5
Thanks @fernandrez providing a sample data that exhibits problems. However I wasn't able to figure out what exactly caused the parser to choke. I don't believe you are seeing the same error as @saifellafi was facing.

See below that the parser fails to decompress the data stream. Since I don't have access to SAS at the moment, I am afraid I cannot be of help further.

[code]

[2016-03-16 19:28] STHITAPRAJNAS commented on #5
I am facing the same InvocationTargetException error while doing a count check of my huge sas file. My aim is just to convert it into a parquet file and in turn to a Hive table.

Did anyone get it to work ??

16/03/16 15:19:45 WARN TaskSetManager: Lost task 12.0 in stage 2.0 (TID 55, lpdn0160.kdc.capitalone.com): java.lang.reflect.InvocationTargetException
        at sun.reflect.NativeMethodAccess

[2016-03-17 00:50] andrewrothstein commented on #5
Doesn't look like it. Can I recommend you use bisection to narrow down your huge SAS file to the record/set of records that are causing the parser to choke?

[2016-04-15 11:55] maguilarstratio opened #9 "Error parsing SAS file distributed in HDFS"
A SAS file downloaded from "http://nces.ed.gov/ccd/Data/zip/ag121a_supp_sas.zip" (48.59 MB) was distributed in HDFS with Block Size 32MB.
If I take 5 elements and print them, I can show them. Otherwise If I count the number of rows, I will get the next error.
(If I run the same code with the file uploaded wiht BlockSize = 128MB everything works fine).
The code in **Scala** is as followed:

[code]

[2016-04-15 12:17] maguilarstratio commented on #9
I had to use parso-12.1 to can run the Spark's datasource.

If i didn't add this jar to my project i get the following execption:

[code]

[2016-05-26 15:21] treysp opened #10 "Parso library update"
FYI - the updated Parso library is now available:

https://github.com/epam/parso/releases

[2016-07-25 09:33] witwall opened #11 "Job aborted due to stage failure"
I tried load random.sas7bdat(from the resource) with both scala and sparkr, got same error when I tried to print the row acount of the df(df.count for scala and nrow(df) for sparkr)

the version of spark is 1.6.2

[code]

[2016-07-26 03:46] saurfang commented on #11
I could be wrong but from the limited stacktrace you were able to provide I am not sure if it is with this library. Have you been able to run any SparkSQL example in SparkR already? (i.e. a SparkR command that actually triggers SparkSQL execution)

[2016-07-27 01:45] witwall commented on #11
it works now, but I got another issue,

[code]

if sas file is some bigger, for example 152M,  it is pending when I run collect(cnt)(some times, the first time is ok, but the second time, it is pending)

no matter on a 8G, 16G or 128G memeory PC or server.
spark 1.6.2, and  spark-sas7bdat is the last version.

I also tried spark-shell, the same result.

[2016-07-27 03:32] witwall commented on #11
I notice maybe it is not the problem of your spark-sas7bdat, but spark, because I tried load a big table from postgresql, got the same issue.

[2016-07-28 05:54] witwall opened #12 "Any plan to support spark2.0"
Spark 2.0 is out, bases on scala 2.11, spark-sas7bdat does not support it.

[2016-08-10 04:25] AbdealiJK opened #13 "Add simple install instructions"
It would be worthwhile to also mention a few steps for pyspark as I want to use it with pyspark, and can't seem to be able to get it running. Read https://github.com/databricks/spark-csv/issues/59#issuecomment-99291210 for various suggestions, of which some are applicable here too

Also, it would be good to provide a method which does not use maven with `--packages` as some people have proxies whi

[2016-08-10 06:53] AbdealiJK commented on #9
I added the Parso 1.2.1 to my project too (because of the above mentioned NoClassDefFoundError) and am getting a very similar ArrayIndexOutOfBound error.

My error is: `Caused by: java.lang.ArrayIndexOutOfBoundsException: 2928`

Any solution ?

[2016-08-17 23:53] #11 closed

[2016-10-10 03:18] LucasDvp commented on #12
It's good to know, hahaha

[2016-10-27 17:14] cyberyu opened #14 "Issues with Spark-sas7bdat"
Please check these issues I found in my work, thanks!

https://eilianyu.wordpress.com/2016/10/27/be-aware-of-hidden-data-errors-using-spark-sas7bdat-pacakge-to-ingest-sas-datasets-to-spark/

[2016-11-19 17:13] saurfang commented on #14
Thanks for investigating. These likely can be fixed by upgrading parso #10. However I don't have the bandwidth to do it myself. Contribution is welcomed.

[2016-11-19 17:15] saurfang commented on #9
For dataset as small as this, I would highly recommend convert it using other standalone programs. https://github.com/tidyverse/haven is an excellent choice.

[2016-11-19 17:15] #9 closed

[2016-11-19 17:15] saurfang commented on #7
#10 will hopefully solve this.

[2016-11-19 17:15] #7 closed

[2016-11-19 17:16] #5 closed

[2016-11-19 17:16] AbdealiJK commented on #9
I got the error on a 10gb data file...

[2016-11-19 17:28] saurfang commented on #10
Just to give some pointers in case someone wants to help. Here you may find the total diff I made on the original 1.2.1 parso library to support splitting: https://www.diffchecker.com/V6tGyqNC

It looks like the library has been refactored quite a bit in 2.0 so correspondingly touch points need to be found and updated.

[2016-11-19 17:30] saurfang commented on #9
@AbdealiJK Sorry but I'm afraid I don't have the capacity to perform #10 which could solve your issue. You are more than welcomed to contribute a PR if you're interested. I'd be happy to review.

[2016-11-19 22:41] chappers commented on #13
I think this should actually work out of the box with a fat jar that you create using `sbt assembly`; you should be able to add this via `--jars spark-sas7bdat-assembly-XXX.jar`

This is off the spark 2.0 update I made, but it should work for 1.6 as well.

See screenshot below:

![image](https://cloud.githubusercontent.com/assets/2498638/20458898/6106467e-af05-11e6-9d64-7b13976c739b.png)

Code:

R

[2016-11-19 22:55] #12 closed

[2016-11-20 04:16] #13 closed

[2016-11-23 10:40] jwijffels opened #17 "R package spark.sas7bdat"
FYI. I've put this R package on CRAN:
https://cran.r-project.org/web/packages/spark.sas7bdat/index.html
https://github.com/bnosac/spark.sas7bdat

[2016-12-06 12:49] buyology opened #18 "java.lang.StringIndexOutOfBoundsException: String index out of range"
Trying to load a file using PySpark with

`df = sqlContext.read.format("com.github.saurfang.sas.spark").load("file.sas7bdat")`

Get the following error:

[code]

[2017-01-10 21:23] alvinhenrick opened #20 "Parso Library upgraded : Please merge pull request"
Hi , My friend Huaxin sent you the pull request  https://github.com/saurfang/spark-sas7bdat/pulls .
He has updated the Parso library . Would you please consider merging it and pushing to the repository.

Appreciate your help.

Thanks!
Alvin.

[2017-01-11 02:41] chappers commented on #18
You might have better luck if you provide the `file.sas7bdat` which reproduces this so that people can have a look.

[2017-01-12 11:11] buyology commented on #18
Sure it was this file with results from PISA: http://vs-web-fs-1.oecd.org/pisa/PUF_SAS_COMBINED_CMB_STU_QQQ.zip

[2017-01-15 03:01] saurfang commented on #20
Sorry for the delay. I have responded with some comments. Feel free to join discussion at the PR instead of opening new issue.

[2017-01-15 03:01] #20 closed

[2017-02-23 15:55] niraj7848 commented on #18
When I am trying to parse a 32MB file I am able to parse it and convert it into CSV file.

But when I am trying convert a 7GB file, I am getting ArrayIndexOutOfBoundException as below.

Caused by: java.lang.IndexOutOfBoundsException: Index: 0, Size: 0
	at java.util.ArrayList.rangeCheck(ArrayList.java:653)
	at java.util.ArrayList.get(ArrayList.java:429)
	at com.ggasoftware.parso.SasFileParser.readS

[2017-03-29 11:35] niraj7848 commented on #18
BufferUnderflowException issue got resolved.
IndexOutOfBoundsException is coming because of wrong offset to read the subheader. readSubheaderSignature method is getting the index which is greater than the size of a Page and hence it is throwing IndexOutOfBoundsException.

Has anyone worked on this problem?

[2017-04-04 14:11] Ctvidyak opened #21 "Issue reading filesize greater than 512 MB"
I am trying to read sas files with tihs package . With smaller file size it is working fine , But filesize greater then 512 MB it is giving me below error
ERROR InsertIntoHadoopFsRelationCommand: Aborting job.
org.apache.spark.SparkException: Job aborted due to stage failure: Task 3 in stage 0.0 failed 4 times, most recent failure: Lost task 3.3 in stage 0.0 (TID 8, 10.0.0.5): org.apache.spark.Spa

[2017-06-13 14:12] NeerajBhadani opened #22 "Not able to read all records from SAS dataset."
Hi Team,
   I am trying to use this package and able to read the sas data into spark as DataFrame. However, not able to read entire sas data into dataframe. when I using version (1.1.5-s_2.11), I am not able to read the last 3 rows from the sas dfataset. PFB few scenarios

1. sas dataset has 100 records, df.show(97) works fine. However, df.show(98) hangs.
2. sas dataset has 50 records, df.show(47)

[2017-06-15 17:55] NabilKem commented on #22
I have the same issue, Dataframe.show(Nbr record - 3) works fine, but not Dataframe.show(Nbr record - 1)

Any idea why is that!?
Regards

[2017-06-26 15:37] danielkramerknowledgent commented on #18
@niraj7848 Can you explain how you resolved the BufferUnderflowException? I'm using 1.1.5

[2017-06-26 17:03] danielkramerknowledgent opened #23 "BufferUnderflowException at SasFileParser.bytesToDate"
I'm getting an error while trying to load in a 205MB sas7bdat file with
`spark.read.format("com.github.saurfang.sas.spark").load(args(1))`. Unfortunately, I cannot share the sas file as it is confidential.

[code]

[2017-07-26 12:21] jt999 opened #24 "SasFileParser: Failed to read page from file"
Hi

I have uploaded a sas7bdat file into hdfs, and am trying to use the sas7bdat library to read this file into a spark dataframe (using pyspark)

Code is quite straight forward:

![image](https://user-images.githubusercontent.com/18142822/28620547-b148cb40-720d-11e7-8b3b-468862819eb9.png)

ps....I can confirm that the file exists:

![image](https://user-images.githubusercontent.com/18142822/28620

[2017-10-04 16:38] tilwani opened #25 "Issue regarding reading of sas7bdat file and then converting it into csv file."
I am attempting to convert a .sas7bdat file into .csv using pyspark. I intended to use the spark-sas7bdat for creating a spark dataframe from the sas7bdat file and then using the package spark-csv to write and save it as a csv file.
When i use the command:
[_df = sqlContext.read.format("com.github.saurfang.sas.spark").load("filename.sas7bdat")_] ..no error is thrown and the command runs very quick

[2017-10-19 16:14] Tagar opened #26 "Issues with very wide datasets"
There is a bug in parso or spark-sas7bdat packages when it reads a really wide file. When I read a sas7bdat with only 18 columns, it works perfectly, but when I read my sas7bdat with ~13000 columns, it breaks. For some reason, any of the values that aren’t zeros are replaced with null.

[2017-10-19 22:40] Tagar commented on #10
@saurfang could you please give us some guidance how to update saurfang/spark-sas7bdat to latest parso library?

I see https://github.com/saurfang/spark-sas7bdat/blob/master/src/main/java/com/ggasoftware/parso/SasFileParser.java
Can we just overwrite it with latest file from https://github.com/epam/parso/tree/master/src/main/java/com/epam/parso ? I am probably oversimplifying this. Or you expect s

[2017-10-22 17:03] saurfang commented on #10
@Tagar thank you for taking the interests. Like I outlined in my comment above, the whole reason that we have our own copy of `SasFileParser.java` in the repo is that we need to make modifications to support parallel read from a split location. The diff exactly shows the points where these logics are implemented.

To see #19 to be successful, I would like to see a minimal test data that replicates

[2017-10-25 19:08] Tagar commented on #10
Thank you @saurfang
A colleague of mine and me are working on this currently.
It may take some more time.

Can we ask why that diff in `SasFileParser.java` can't be pushed over to Parso library itself?
If it'll be accepted into Parso library itself, this diff doesn't have to be maintained and
re-applied after each Parso library release.

[2017-10-25 19:16] Tagar commented on #10
https://github.com/epam/parso/issues/21

[2017-10-26 23:23] Tagar commented on #10
@saurfang that diff is already in upstream Parso library.
See comments from @printsev in epam/parso#21
We created a fork of spark-sas7bdat and
- added unit test that you were referencing to
- get it running with Parso 2.0.7
We can confirm that all issues we had earlier with reading compressed files and some
other issues are now resolved.
Please let us know if that's okay with you to create a new P

[2017-10-30 06:26] saurfang commented on #10
Yes please! I forked the implementation originally because their library development went dormant. Now that they are back on Github I am more than happy to push/pull changes to the upstream library.

[2017-10-31 01:31] Tagar opened #27 "Willing to migrate license to Apache 2.0?"
https://github.com/epam/parso/issues/19

The upstream Parso library is migrating to Apache license.
Can the same be done with saurfang/spark-sas7bdat?
Not sure if Apache and GPL licenses are compatible.
Another benefit, is that with Apache license saurfang/spark-sas7bdat could potentially be included into core Apache Spark.

[2017-10-31 05:38] printsev commented on #10
@Tagar as you are working on the PR to update parso to the latest version, could you please update link to parso in README.md in the Related Work section? It should be https://github.com/epam/parso instead of scitouch site. @saurfang hope you are ok with the link change.

[2017-10-31 05:52] saurfang commented on #27
Yes I prefer(ed) Apache 2.0 and had to license under GPL originally because they were incompatible.

[2017-10-31 16:15] Tagar commented on #27
Cool - thank you.

[2017-10-31 16:15] Tagar commented on #26
Resolved by upgrading to latest Parso library.

[2017-10-31 16:15] #26 closed

[2017-10-31 16:19] Tagar commented on #10
@saurfang our manager asked to bounce our contribution at legal department first as it's first time we contribute back to an open-source project. I don't expect this will be an issue, but will just take some time. We delivered this change internally a week ago. Thanks.

@printsev sure - will do. Thanks.

[2017-12-16 08:10] spatil6 commented on #10
With earlier version of parso, was getting error while reading compressed files. So I have updated parso 2.0.7 and done relevant changes, now able to read compressed file. :)
However while reading big file (2 GB) from HDFS,Getting Error #9

@Tagar Seems like you have successfully implemented. Have you faced this issue? If yes, can you please share your idea/implementation. Please.

@saurfang Any s

[2017-12-21 03:40] spatil6 commented on #10
After doing some analysis on #9 with updated parso library 2.0.7. I have found that issue is with below method.

When it try to access bytes from previous page, it won't able read subheader.

@saurfang  Can you please elabarote this method, on what basis we are calculating partial page length.  Any supporting blog/document.

[2018-01-03 12:56] vkmmishra commented on #23
Hi,

I am also facing the same issue, Have you got resolved, Bufferunderflow exception resolved.
java.lang.reflect.InvocationTargetException
        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
        at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)

[2018-01-11 06:04] saurfang commented on #10
If I remember correctly, this is based on the reverse engineered http://www2.uaem.mx/r-mirror/web/packages/sas7bdat/vignettes/sas7bdat.pdf @spatil6

[2018-01-11 07:43] printsev commented on #10
@spatil6
Do you face the same issue when working with parso directly? If yes, could you please raise a new issue in parso library itself? If you could share the dataset, it would be great.
The line you reference to looks like a part of spark-sas7bdat to me, but there could be something in parso as well.

[2018-01-12 08:59] printsev commented on #27
parso 2.0.8 was released with new ALv2 license

[2018-01-21 08:27] saurfang commented on #27
@Tagar happy new year! Any news on release of your PR?

[2018-01-23 16:41] spatil6 commented on #10
Issue resolved.
@printsev Thanks for asking. There is issue in spark-sas7bdat, not in parso library.
@saurfang Existing SasRecoder class implementation won't work with latest parso library. It require some modification, to make it work. So make note of it.
Thanks.

[2018-02-03 21:40] #27 closed

[2018-02-03 21:40] saurfang commented on #27
Done

[2018-02-03 21:56] saurfang commented on #10
Thanks all for the discussion and contribution. Kudos to @mulya to pull everything through.

[2018-02-03 21:56] #10 closed

[2018-02-03 21:56] saurfang commented on #14
I believe

[2018-02-03 21:56] #14 closed

[2018-02-03 22:04] saurfang commented on #18
Please give the new version a try as we believe this might have been fixed.

[2018-02-03 22:04] #18 closed

[2018-02-03 22:04] saurfang commented on #23
Please give the new version a try as we believe this might have been fixed.

[2018-02-03 22:04] #23 closed

[2018-02-03 22:04] saurfang commented on #24
Please give the new version a try as we believe this might have been fixed.

[2018-02-03 22:04] #24 closed

[2018-02-03 22:05] saurfang commented on #22
Please give the new version a try as we believe this might have been fixed.

[2018-02-03 22:05] #22 closed

[2018-02-03 22:05] saurfang commented on #21
Please give the new version a try as we believe this might have been fixed.

[2018-02-03 22:05] #21 closed

[2018-02-03 22:06] saurfang commented on #25
Please give the new version a try as we believe this might have been fixed.

[2018-02-03 22:06] #25 closed

[2018-02-27 15:27] TangoTom opened #32 "Cannot read SAS File"
Hello,
I have a compressed SAS file with a few hundred columns, around 3.000.000 observations and file size 600MB. Reading the file ends in an error (appended).
Please ask if I can provide futher information.
Any help very appreciated.

Thanks in advance for help, Thomas

<details>
  <summary>Expand to see **Stacktrace**</summary>

[code]

</details>

[2018-02-28 20:51] Tagar commented on #32
We also have a similar issue on the new release

As in your case getting "Caused by: java.lang.IndexOutOfBoundsException: Index: 0, Size: 0 "

[2018-03-13 13:07] witwall opened #33 "how to support GBK?"
I did not find where can I set the encoding parameter, I have sas dataset with GBK encoding.

[2018-04-09 13:12] #17 closed

[2018-04-24 10:38] witwall commented on #33
ignore it , no need encoding parameter.

[2018-04-24 10:38] #33 closed

[2018-04-26 21:00] mattiasmoser commented on #32
We have the same issue with a SAS file with a few 10,000 records. If we take a 100 record sample file, it works fine.

For us, this is NOT a problem in the most recent version only. We tried all versions back to 1.0.0 (using the jars provided here: https://spark-packages.org/package/saurfang/spark-sas7bdat) and all reported the same error.

The most relevant part of the error message is this: (thi

[2018-04-27 07:27] printsev commented on #32
@mattiasmoser @Tagar
To me it sounds like parso issue actually.. Does it happen for you if you use the parso library directly? If yes, it might be worth creating a new issue in parso project: https://github.com/epam/parso/issues
Would it be possible for you to share the SAS file so we can dig it out?

[2018-04-27 13:37] mattiasmoser commented on #32
@Tagar, @TangoTom
Would you be able to share the SAS files that cause your issue. Our data contains some proprietary information. If I find the time, I can try to redact/remove anything proprietary, but might not get to it for a while.

[2018-05-14 16:08] printsev commented on #32
Yes, so parso could work correctly.. I would just convert rows to strings to ensure that the output is correct. If the file is not that large, readAll would be easier (it could consume a lot of memory though).

[2018-06-25 16:41] nelson2005 opened #34 "java.lang.ClassCastException on df.count()"
I loaded a sas dataset into a dataframe without incident, and can print the schema.  However, when I do anything with it (like count() or save()) I get a cast exception (trimmed stack below, let me know if more is helpful).  It's a small dataset, 1.6GB.  I did notice that the latest maven spark-sas7bdat doesn't pull in the latest parso (2.0.9).  The only bug apparently fixed in parso 2.0.9 seems n

[2018-06-26 17:03] nelson2005 commented on #34
Okay, after some research I found the issue.  I'm running spark2-shell on a YARN cluster, the sas7bdat jar needs to added to the spark-shell classpath and the executor classpath, and the saurfang/parso jars need to be uploaded to the executors as part of the job.  In the end my fat-jar assembly command was

spark2-shell -cp /tmp/tools_scala_shell.jar --conf spark.executor.extraClassPath=./tools_sc

[2018-06-26 17:03] #34 closed

[2018-06-28 14:10] nelson2005 opened #35 "java.lang.ArrayIndexOutOfBoundsException"
I get this error loading a not-small dataset.  I filed the [main issue report](https://github.com/epam/parso/issues/29) over on @epam's [parso](https://github.com/epam/parso) site, but am wondering if there's something about this project's usage of parso that could be related or worked around.  (as in, would turning off compression make this dataset splittable and work around this problem?)

Stack

[2018-07-05 12:07] sonulaugh opened #36 "Cannot read file from s3 path"
We are trying to read a file from a S3 path in AWS glue & looks like it's not able to read this. Can this read a file from S3 path?

[2018-07-06 10:56] witwall commented on #32
I successfully using  2.0.0 version to convert 15G sas7bdat to parquet.

I tried both sparklyr  and pyspark

[2018-07-31 07:17] myloginid commented on #32
@saurfang - We faced the same issue when reading from hdfs and S3. Python https://pypi.org/project/sas7bdat/ library can read the same datasets correctly.

If you can provide me some pointers on where the issue could be, I would be happy to submit a PR.

cc - @saurabh2086

[2018-08-06 18:55] nelson2005 commented on #35
This is a knock-on-effect of the non-splittability caused by SAS dataset internal compression, which is usually turned on by default.

One possible solution would be to make the reader aware of some other splittable compression like lzo.  At any rate, this problem can be worked around using a statement like

options compress=off;

prior to saving a sas7bdat.

[2018-08-06 18:55] #35 closed

[2018-08-06 21:22] nelson2005 opened #37 "Incorrect date/timestamp conversions"
I'm running into [this issue](https://eilianyu.wordpress.com/2016/10/27/be-aware-of-hidden-data-errors-using-spark-sas7bdat-pacakge-to-ingest-sas-datasets-to-spark/)

where the dates all have one day subtracted.  I'm using sas7bdat 2.0.0-s_2.11

I didn't see any other mention of this issue in the github issues list.  Is anyone else running into this?

For se
https://eilianyu.wordpress.com/2016/10/

[2018-08-06 21:58] nelson2005 commented on #37
Putting this on hold while I test more

[2018-08-07 13:25] witwall commented on #37
@nelson2005 I just noticed this issue too.
[xy.sas7bdat.zip](https://github.com/saurfang/spark-sas7bdat/files/2266508/xy.sas7bdat.zip)

[2018-08-07 13:29] nelson2005 commented on #37
Okay, this does appear to be really happening as described in the top post.  To get the correct dates I've added a spark UDF like

spark.udf.register(Tags.date2timestamp_p1day, (date: java.sql.Date) => Try(java.sql.Timestamp.valueOf(date.toLocalDate.atStartOfDay().plusDays(1))).toOption

[2018-08-09 03:35] witwall commented on #37
after double check, I am afraid it is not a bug, but because of the timezone issue of you server.

[2018-08-13 12:42] vivard commented on #32
Hey,
I faced the same issue on some specifiic dataset.
For this specific dataset, if I limit the number of line in order to have in the log:
INFO YarnScheduler: Adding task set 0.0 with 1 task.

But, as soon as I see in the log, this line with more than 1 task,  I faced the error:
java.lang.IndexOutOfBoundsException: Index: 0, Size: 0

It must be something with the dataset because, on other datase

[2018-08-13 13:05] printsev commented on #32
@vivard:
are you able to share the sas dataset you experience issue with? is it ok if you use just parso without spark-sas7bdat?

[2018-09-05 16:57] nelson2005 commented on #37
@witwall can you elaborate?  Both the SAS server where the sas7bdat was created and the spark server are in the same timezone

[2018-09-05 17:36] nelson2005 commented on #32
I'm experiencing the same problem, only for specific datasets.  It's repeatable- that is, if I resave the sas7bdat (from SPDS) the same sas7bdat is unreadable each time.

[2018-09-07 16:29] nelson2005 commented on #9
This may not be completely solved... it seems quite similar to #32

[2018-09-07 17:08] Tagar commented on #32
@printsev did you notice any issue in parso library to read the dataset that @vivard has shared?
thank you!

[2018-09-07 23:41] nelson2005 commented on #32
I adapted @TangoTom 's code to use parso-only

`val fis = new FileInputStream("test.sas7bdat")

    val reader = new SasFileReaderImpl(fis)
    var n: Long = 0
    while (reader.readNext != null) {
      n += 1
      if (n % 10000 == 0) print(".")
    }
    println("")
    println(n)`

and it ran without incident

... lots of dots ...
28975153

I'm willing to help troubleshoot if someone can offer

[2018-09-10 13:02] witwall commented on #37
if in the same timezone, get correct answer without more configure.
if different timezone, need setup timezone of spark to get the correct answer.

[2018-09-21 03:14] saurfang commented on #32
If parso can parse the data file by itself, then the bug is unlikely in parso. My best guess is that the bug would be where we determine is the appropriate splits to divide the sas7bdat file for parallel processing.  https://github.com/saurfang/spark-sas7bdat/blob/master/src/main/scala/com/github/saurfang/sas/mapred/SasRecordReader.scala since everything else is just a thin wrapper over Parso than

[2018-09-27 19:12] nelson2005 commented on #32
Yes, I agree that it's likely in the splitting logic... those splitting functions have come up in other github issues as well.
Unfortunately, I'm unable to dig into this- would be happy to fund a bounty.

[2018-09-30 23:13] saurfang opened #38 "Splitting Internally Compressed sas7bdat"
There appears to be an issue reading internally compressed sas7bdat as discussed in #32. This is a recap of what we know so far about the issue and what is required to identify the root cause and possible fix.

## Background

`sas7bdat` is a binary data storage file format used by [SAS](https://www.sas.com/en_us/home.html). There is no public documentation about this file format and different vers

[2018-10-08 21:39] Tagar commented on #32
@saurfang - thanks for submitting the bounty !

@vivard has uploaded a file on Aug 13 - see
https://github.com/saurfang/spark-sas7bdat/issues/32#issuecomment-412535049

Was that file helpful to reproduce the issue?

[2018-10-09 01:47] saurfang commented on #32
@Tagar I am not 100% sure @vivard didn't verify the file works with parso only AFAIK. If someone can provide code or create a PR that demonstrate a failed test case using this data (and corresponding code that parses correctly using parso,) that would be very helpful.

Everyone, please feel free to chip in to the bounty at https://gitcoin.co/issue/saurfang/spark-sas7bdat/38/1394

[2018-10-11 02:27] nelson2005 commented on #38
To clarify, this problem also appears on non-compressed sas7bdat; that is, the issue still exists with SAS code like

options compress=no;

That being said, making compressed files splittable (#35 ) would be be most helpful. I'm only suggesting that this problem is possibly not related to SAS internal compression.

[2018-10-12 02:28] nelson2005 commented on #38
Okay, I've really tried to figure out how to fund this and it's maddening.  I installed MetaMask, which asks for all my permissions and a blood sample.  It seems insanely complicated to set up some Ethereum system just to fund a bounty.  @saurfang can I just send you some cash on paypal or something?  I'd be happy to double what you started with.  Perhaps you use weixin and can contact me OOB ther

[2018-10-13 00:06] JordanCuevas opened #39 "Hive SQL functions not registered when called through sparklyr"
I'm trying to use Hive date functions in sparklyr::sdf_sql to manipulate some data, however some of these return errors that the function is not registered in the database. This only occurs after installation of spark-sas7bdat on the cluster. Note that I've [duplicated this issue with sparklyr](https://github.com/rstudio/sparklyr/issues/1711?_pjax=%23js-repo-pjax-container)  as I'm not sure which

[2018-10-13 04:28] saurfang commented on #38
Sorry to hear that, @nelson2005. Cryptocurrency doesn't have a great onboarding UX yet 😢 Your experience is very valuable and I will pass it along or even contribute to a better solution.

Meanwhile you can message me on [twitter](https://twitter.com/saurfang86) or maybe on [gitter](https://gitter.im/saurfang/spark-sas7bdat) which you can log in with your github account (and I believe you can clic

[2018-10-23 19:12] kraj007 commented on #38
Hi @saurfang ,
we have carried out test for different .sas7bdat file sizes to load into parquet format.
first Dataset ~ 420 MB (4 partition ,4 tasks ),
second dataset ~ 850MB(7 partitions , 7 tasks) considering spark's default partitions sized 128MB for optimal performance.

In Output parquet files observed that only first or one partitions having data and remaining partitions are having empty fil

[2018-10-23 19:13] kraj007 opened #41 "Hi @saurfang ,"
we have carried out test for different .sas7bdat file sizes to load into parquet format.
first Dataset ~ 420 MB (4 partition ,4 tasks ),
second dataset ~ 850MB(7 partitions , 7 tasks) considering spark's default partitions sized 128MB for optimal performance.

In Output parquet files observed that only first or one partitions having data and remaining partitions are having empty files.
For small f

[2018-10-24 03:59] saurfang commented on #38
@kraj007 Sorry to hear that, but like I said in the other issue, I do not have any time to work on this project anymore. Your best bet would be to identify a dataset that can replicate your issue and does not contain any private information so you can make it available to download here. Hopefully, somebody might be able to pick it up and help you either because they are solving the issue for thems

[2018-11-04 11:40] nelson2005 commented on #38
@saurfang  I ran into the problem fairly frequently, maybe 1 out of 10 datasets.  Unfortunately, I'm unable so contribute one now.  :(

[2018-11-05 01:40] thesuperzapper opened #43 "Case sensitivity in column names"
Since 2.0, Spark is case-sensitive in column-names, it might make sense to provide users with a flag for spark-sas7bdat to force inferred column names to lower case, as SAS itself is case-insensitive.

What are people's thoughts?

[2018-11-08 21:38] cristamd commented on #38
If anyone is looking for a workaround, changing the SasInputFormat to always return false for isSplittable prevents the file from being split and causes it to return the correct data in the DataFrame. Obviously this has a massive performance impact for large files since the processing will only use one node. An example of the necessary changes is available here: https://github.com/PerkinElmer/spar

[2018-11-10 02:58] nelson2005 commented on #38
@cristamd
If I understand correctly, this is means the dataset will be read into a single partition, which is limited in size to 2GB

https://issues.apache.org/jira/browse/SPARK-1476

[2018-11-13 23:18] cristamd commented on #38
@nelson2005 I tested with a 27GB SAS file and it appears you are correct, unfortunately. Thanks for the heads up.

[2018-11-13 23:58] thesuperzapper commented on #38
@nelson2005 @cristamd Here are some pre-built jars for Spark 2.2, with #44 applied for convenience.

[spark-sas7bdat_2.11-2.1.0_SNAPSHOT.zip](https://github.com/saurfang/spark-sas7bdat/files/2578607/spark-sas7bdat_2.11-2.1.0_SNAPSHOT.zip)

[2018-11-14 01:59] thesuperzapper commented on #32
If anyone has files which used to fail because of this issue, please check them against PR #44 and report back.

[2018-11-14 14:04] nelson2005 commented on #38
@Tagar I have not had a chance to try #44 yet.

[2018-11-15 16:22] PhoenixDai commented on #37
@nelson2005 With hint from witwall, I've figured out the following working configs:

- For spark shell: `spark-shell --master=local[*] --driver-java-options="-Duser.timezone=UTC"` I believe spark-submit would work in this way too. (didn't test)
- For inside a program like pyspark: `.set('spark.driver.extraJavaOptions','-Duser.timezone=UTC').set('spark.executor.extraJavaOptions','-Duser.timezone=UT

[2018-11-15 18:15] PhoenixDai commented on #37
I also tested with loading data with timezone=UTC set and save the data as parquet format. Then load the parquet file without setting timezone. The date didn't change back. Hope this would help those who worry about setting timezone=UTC may mess up timestamp in other data sources.

[2018-11-15 23:33] cristamd commented on #38
@Tagar I was able to try both the no split logic and the split changes in #44 with a 27G SAS file and the system was able to process, sort, and save the file as a CSV with both options. Obviously only using one partition was much slower, but both jobs completed. I'm seeing some differences in the output at first glance, but I'll have to dig in a little more to find out if the data being parsed and

[2018-11-20 20:43] nelson2005 commented on #37
@PhoenixDai  thanks, that seems to work.

[2018-11-27 14:32] PCaff commented on #38
@Tagar It seems it's not quite there but it's very close! I'm able to get a row count from one of my data sets that would error out prior to the jars you shared above. However, it looks like the split size may be cutting off some rows at the beginning or end of the split. I cannot provide the data file, but I can try to help by providing some metadata. Row mismatch of: 148

Source:
RowCount: 28212

[2018-11-27 16:15] cristamd commented on #38
I was finally able to run the comparison between the non-partitioned parser and the partitioned one in #44 and can confirm they produce the same dataframe for our 27GB SAS file. Nice work 👍

[2018-11-27 16:36] nelson2005 commented on #38
@cristamd can you confirm that your 27GB file this was one of the sas7bdat files that failed to load with the pre #44 code?

[2018-11-27 16:39] Tagar commented on #38
@PCaff, @thesuperzapper is driving these fixes. Hopefully he can help with this one.

I think it's the only unsuccessful report ..

I think if you force this file to be read with just one partition so there are no splits and see if this fixes 148 lost records in output. If there are none, it's probably a `parso` issue and not `spark-sas7bdat`.

Also would be nice to see which records excactly didn

[2018-11-27 16:47] cristamd commented on #38
@nelson2005 My 27G file didn't fail to load with the pre #44 code, but it only read the first few pages of data so instead of a million plus rows it was only around 100,000 rows.

[2018-11-27 17:35] nelson2005 commented on #38
@Tagar  you can't read big files into one partition due to spark partition size limits.  Additionally, I think it's been established that parso reads these files without incident, for example in #32

[2018-11-27 18:59] cristamd commented on #38
@nelson2005 I was able to read the 27G file using one partition without any issues as long as the file was a valid SAS file. With a corrupted SAS file I got a bunch of memory errors. I think our cluster is running Spark 2.2.1 on YARN.

[2018-11-27 19:15] nelson2005 commented on #38
@cristamd that was loading all the data into a single partition, or just a count() or some other operation?  Does that mean there's no 2GB partition limit?

[2018-11-27 19:19] cristamd commented on #38
@nelson2005 I read the 27GB SAS file with one partition, repartitioned it to 400 partitions and then wrote it out to a partitioned CSV file in S3. That worked fine without any issues. If you look at the second screenshot in my post from ~12 days ago you can see the Spark History Server output for the job with the single partition. Again, this was running Spark (2.2.1) via YARN on AWS EMR (5.12.1),

[2018-11-27 19:39] PCaff commented on #38
@cristamd how did you force it to read into one partition? I would like to give this a go to help pin point the issue.

[2018-11-27 20:14] cristamd commented on #38
@PCaff I made a small change to the code for the SasInputFormat to have isSplittable always return false. I have a branch on my fork of the repo at https://github.com/PerkinElmer/spark-sas7bdat/tree/no-split that already has the change if you want to check it out and compile it.

[2018-11-27 20:18] Tagar commented on #38
I wonder if new parameter `minPartitions` can be set to `1` to force non one single partition.

See comment herehttps://github.com/saurfang/spark-sas7bdat/pull/44#issuecomment-440037414

[2018-11-27 20:20] Tagar commented on #38
I wonder if we should have an equivalent parameter `maxPartitions` that can be set to `1` to force one single partition.

See comment herehttps://github.com/saurfang/spark-sas7bdat/pull/44#issuecomment-440037414

If we would have `maxPartitions`, like we have `minPartitions`, testing would be easier for such cases.

cc @thesuperzapper

[2018-11-27 23:49] Tagar commented on #38
@thesuperzapper That would be a very good change.
Thank you for all your improvements here.

[2018-11-28 13:11] thesuperzapper commented on #38
@PCaff can you see if the error still happens with no splits?

Use the latest jar from: #44, and specify `maxSplitSize` larger than the file. (I am not 100% sure if it will let you do that)

If that doesn't work, I will make you a no split version to check.

[2018-11-28 14:12] PCaff commented on #38
@thesuperzapper
Sadly, it did not work. The file updated overnight and now the output is missing even more records (roughly 1 million).

Is it possible the split logic is not capturing the mix pages correctly?

[2018-11-28 19:00] Tagar commented on #38
@PCaff were you able to force this to be a single split like @thesuperzapper suggested?

[2018-11-28 19:30] PCaff commented on #38
@Tagar I was waiting for @thesuperzapper to provide the no split version he mentioned in his previous post.

[2018-11-28 19:33] Tagar commented on #38
@PCaff got it. I wasn't sure if you tried to "specify maxSplitSize larger than the file" as it could force one single partition.

I understand now that you wait for @thesuperzapper to provide a separate no split build.

Thanks.

[2018-11-28 19:36] PCaff commented on #38
@Tagar Oh yeah, I'm sorry. I tried that method, but with no success :(

[2018-11-29 00:53] thesuperzapper commented on #38
@PCaff here is a version which will never split files, please check if it still has the issue:

[spark-sas7bdat_2.11-2.1.0_SNAPSHOT_v6_NOSPLIT.zip](https://github.com/saurfang/spark-sas7bdat/files/2627143/spark-sas7bdat_2.11-2.1.0_SNAPSHOT_v6_NOSPLIT.zip)

[2018-11-29 01:39] nelson2005 commented on #38
FWIW, there are python and R implementations of sas7bdat readers in the wild that could be useful references regarding the file format.

[2018-11-29 02:34] PCaff commented on #38
@thesuperzapper the no split jar did not work as well. Still have the same count of records after the dataframe is loaded.

[2018-11-29 04:35] #37 closed

[2018-11-29 04:42] Tagar commented on #38
@nelson2005, https://github.com/epam/parso library is superior to other known sas7bdat format reader implementations, for example, it's the only one that supports reading compressed files.

Look for example here https://github.com/BioStatMatt/sas7bdat/issues/12#issuecomment-339378793 - it seems also not being actively maintained.

[2018-11-29 04:47] Tagar commented on #38
It's most likely an issue with parso reader then, which `saurfang/spark-sas7bdat` is based on.

cc `parso` library developers @printsev @FriedEgg @Yana-Guseva

[2018-11-29 06:11] printsev commented on #38
Hi everyone, great to hear that the spark version is improved! So the next steps seem to be the following:
1) try with parso itself
2) if the number of records is less than it should be, create a new issue in parso, and we will try to help.

PS would be great if you could check the number of rows using the parso object API, without converting it to CSV to rule out potential issues in CSVWriter

[2018-11-29 06:34] thesuperzapper commented on #38
@PCaff can you try reading that file with https://github.com/epam/parso directly?

[2018-11-29 06:49] kraj007 commented on #38
I have tried sas7bdat python package.
Its slow compared to spark package. It took hours to convert compressed sas file to csv for 3 GB file. But it works great for compressed small SAS files.

Also we can check for pandas.read_sas with DASK (http://docs.dask.org/en/latest/spark.html) which works well with pandas especially

[2018-11-29 07:12] Tagar commented on #38
Didn't know pandas has Python reader too
https://github.com/pandas-dev/pandas/tree/master/pandas/io/sas

Yep it would be much slower as implemented completely in Python and `spark-sas7bdat` obviously makes reads highly parallel.

Thanks.

[2018-11-29 21:03] thesuperzapper commented on #38
@nelson2005, the main issue here has already been fixed with #44, we are talking about a new issue, relating to @PCaff having a specific file not work.

[2018-11-30 02:30] thesuperzapper commented on #38
@nelson2005, if you go read comments under the PR #44, people have reported that files which previously read the wrong number of rows, or crashed, now work. (And in fact you quote @cristamd saying it now works with #44)

I believe that @PCaff is having an unrelated issue, potentially related to Parso itself. (Which is why we need to have him try with plain parso before we can fix it)

[2018-11-30 15:33] nelson2005 commented on #38
@thesuperzapper  Thanks for setting me straight.  I'll test out the jar- v6 is the right one?

[2018-12-02 20:50] thesuperzapper commented on #38
@nelson2005 all good.

Yeah, try V6.

[2018-12-04 20:52] nelson2005 commented on #38
Okay, I tried V6 on a few previously broken datasets with ~100MM rows... looks good to me, thanks much!

One (unrelated) thing that I noticed was that loading sas7bdats with wildcards ( filename like sasfile*.sas7bdat ) fails, where it does work for csv, parquet, etc.

[2018-12-05 02:37] thesuperzapper commented on #38
@nelson2005, sounds good, test as many as you can.

With regard to wildcards, I agree that we need to support multiple sas files, I will make an issue for it.

[2018-12-05 03:03] thesuperzapper opened #45 "Support reading multiple SAS files, and merging of schema."
We should allow multiple sas files to be read into a single dataframe, merging their schema if possible.

This is a lot easier with Parso 2.0.10, as we can specify which column names we want to read, and in what order, when calling `readNext()`.

My recommendation is that we copy how [core spark merges schema](https://github.com/apache/spark/blob/master/sql/catalyst/src/main/scala/org/apache/spark

[2018-12-05 14:43] nelson2005 commented on #45
SAS column formatters are for display-only... I'd strongly suggest *not* using them for inferring numeric datatypes with the exception of date/timestamp.  SAS has only two datatypes... char and double.  Trying to add much magic structure on that on top of the randomness with which people assign column formats is bound to devolve into a festering pool of lameness.

In that vein I'd suggest removing

[2018-12-05 17:55] Tagar commented on #45
I see your point @nelson2005 and it makes a lot of sense.

Since non-double data type discover is not on default currently, I think if a developer leverages formatters schema discovery, he should be aware of its limitations etc.

So I think it's good to have this functionality in as long as its disabled by default and we have a proper disclaimer in documentation...

Spark for example has `schema i

[2018-12-05 20:00] thesuperzapper commented on #45
@nelson2005, the main issue is that sas7bdat sometimes stores with integer precision errors, e.g. 1.999999, and while SAS itself seems to correct that, the file itself still stores 1.999999.

But yea, we chose to disable non-date inference by default for the reasons you provided.

[2018-12-05 20:42] nelson2005 commented on #38
I loaded about a hundred more sas7bdats using V6 from #44 without seeing any errors.  The total row counts and data spot checks tie out.

Thanks to all who participated in resolving this issue!

It's @saurfang's call, but I'm fine with considering this item fixed primarily by @thesuperzapper

[2018-12-06 16:23] nelson2005 commented on #45
I'm not sure I would call it an integer precision error, since integer is not a SAS data type.

Agreed that SAS has lots of easter eggs there that don't translate well to the Spark world.  Fuzzing numeric comparisons such that 1.999999 == 2 is one of them.  Since formats are a display-only concept, I'd think getting the same number that's displayed in SAS to show up in Spark might be a big task.

[2018-12-10 05:10] #43 closed

[2018-12-10 05:44] saurfang commented on #38
@nelson2005 I agree. @thesuperzapper can you claim this bounty by visiting https://gitcoin.co/issue/saurfang/spark-sas7bdat/38/1394? I can initiate payout once you submit your work in gitcoin.

[2018-12-10 08:09] thesuperzapper commented on #38
@saurfang since I am in NZ, and there aren't any ETH exchanges, it would be a lot easier to do it through PayPal, message me on LinkedIn for details. (I temporarily opened up connection requests)
https://www.linkedin.com/in/mathewwicks/

[2018-12-10 17:39] Tagar opened #46 "Add ability to read only specified columns to improve performance"
Parso 2.0.9 added ability to read only specified columns, to improve performance

https://github.com/epam/parso#parso-209

Would be great to expose this functionality in `spark-sas7bdat` package as well.

We have datasets with many thousands of columns, so this a great functionality when we need just a subset of columns.

cc @thesuperzapper

Thank you.

[2018-12-10 21:37] thesuperzapper commented on #32
@saurfang this is resolved

[2018-12-10 21:38] thesuperzapper commented on #36
@sonulaugh can you confirm that you still have this issue with 2.1.

[2018-12-10 21:42] thesuperzapper commented on #39
@JordanCuevas can you confirm that you still have this issue with 2.1

[2018-12-11 14:31] JordanCuevas commented on #39
Interestingly, we uninstalled a big query package that was installed on the same cluster, after which sparklyr has been working as expected even when sas7bdat was also installed.

[2018-12-11 14:31] #39 closed

[2018-12-12 06:34] #32 closed

[2018-12-22 23:30] saurfang commented on #38
I have arranged the transfer of all pledged bounty with @thesuperzapper offline. Thanks, everyone who contributed to this issue for your dataset, code, and time.

[2018-12-22 23:30] #38 closed

[2019-01-17 13:32] divasnikhra opened #47 "If my sas7bdat file is having only header then I am not able to read my file as datafram in spark"

[2019-01-18 17:14] nelson2005 commented on #45
@saurfang @thesuperzapper @Tagar
I'd be willing to put up a bonus on this feature, say $100 USD.

[2019-02-21 20:06] kylebarron commented on #37
I think this should be added to the README because it's very easy to get tripped up by this and not realize.

[2019-02-21 20:29] nelson2005 commented on #37
It is easy to get tripped up on this (and might be worth a mention README), but I think it's fundamentally a Spark ecosystem issue, nothing specific to this project.  People (including me) get tripped up all the time with this, for example [here](https://stackoverflow.com/questions/33556226/impala-timestamps-dont-match-hive-a-timezone-issue) because Hive applies the server timezone to timestamps.

[2019-02-21 20:33] kylebarron commented on #37
Interesting. I'm a relative newcomer to Spark, so this is the first time I'd gotten tripped up by it.

[2019-02-21 21:04] Tagar commented on #37
There is a very active timestamp incompatibilities discussion on Spark dev list.

Here's a good summary, details and suggestions by the Spark development community
https://goo.gl/VV88c5

In short, the following is being proposed:

- The TIMESTAMP WITHOUT TIME ZONE type should have LocalDateTime
semantics.
- The TIMESTAMP WITH LOCAL TIME ZONE type should have Instant semantics.
- The TIMESTAMP WITH

[2019-04-16 14:20] pathri-pk opened #48 "Unable to load sasdata set into Spark"
Using below code to load a sample sasdata set into spark and getting a timeout error, tried increasing the timeout using option 'metadataTimeout'  but still timing out reading metadata, any help is appreciated

import os
os.environ['PYSPARK_SUBMIT_ARGS'] = '--jars /Spark/spark-2.4.1-bin-hadoop2.7/jars/spark-sas7bdat-2.1.0-s_2.11.jar pyspark-shell'
from pyspark.sql import SparkSession

spark = Spar

[2019-05-07 17:04] angel-hernandez91 opened #49 "Cannot read file from Azure Blob Path"
I attempted to read a SAS dataset from an Azure Blob path, but I am getting the following error:

`shaded.databricks.org.apache.hadoop.fs.azure.AzureException: shaded.databricks.org.apache.hadoop.fs.azure.AzureException: Container <my-container> in account <my-account>.blob.core.windows.net not found, and we can&apos;t create it using anoynomous credentials, and no credentials found for them in th

[2019-05-08 04:25] thesuperzapper commented on #49
If you put another file type (e.g. parquet) in the same blob store, are you able to read it with that config set?

[2019-05-08 04:27] thesuperzapper commented on #48
@pathri-pk are you able to post that sas file? (You should be able to drag it into a reply to this issue, if its not huge)

[2019-06-11 17:28] angel-hernandez91 commented on #49
Yes I am. So it turns out the credentials needed to be set differently for the SAS reader since it's using the Spark Context as opposed to the Spark Session variable.

I was able to set the credentials using: `sc._jsc.hadoopConfiguration().set("fs.azure.account.key.{}.blob.core.windows.net".format(account_name), account_key)`

I imagine the same would work from an S3 path.

So I guess this can be

[2019-06-11 17:28] #49 closed

[2019-07-17 22:28] westonsankey opened #51 "Failure Writing 20GB+ Files"
I've been running into failures with certain files that are larger than 20 GB in size. Specifically, these errors come in two varieties:

1. When writing the data as a CSV, a `FileAlreadyExists` exception will be thrown because it is attempting to write a file that has already been written.
2. Sometimes, a `java.io.IOException` will be thrown with the message `There are no available bytes in the i

[2019-07-17 22:35] thesuperzapper commented on #51
Some questions:
* Can you please provide logs?
* Dose this also happen when writing to other formats? (e.g. parquet)

[2019-07-17 22:37] Tagar commented on #51
On 1st one -

add overwrite option like
[code]

[2019-07-18 09:36] westonsankey commented on #51
Forgot to include that in my post, but I am using that option already.

[2019-07-18 11:56] thesuperzapper commented on #51
@westonsankey logs?

[2019-07-18 13:29] westonsankey commented on #51
[code]

[2019-07-18 18:16] westonsankey commented on #51
Added logs. It happens when writing to other formats as well (tested with Parquet).

[2019-07-19 03:26] thesuperzapper commented on #51
@westonsankey can you provide the following:
1. Information about your environment (Spark Version, EMR, etc.)
2. The stack trace when you get the `"There are no available bytes in the input stream."` message. (And how you got it to happen)
3. Dose the `"File already exists"` error always happen for all files, every time you run it?
4. Can you read/write smaller SAS files in your Spark environment

[2019-07-19 12:42] westonsankey commented on #51
@thesuperzapper - I think the files might be corrupt, but I'm doing some more testing/research on my end. I'll provide you with that information if I determine that this is not the case. Appreciate the help thus far.

[2019-07-19 12:56] thesuperzapper commented on #51
@westonsankey even if the files are corrupt, perhaps we can emit a nicer error message for such files.

[2019-07-23 12:53] westonsankey commented on #51
@thesuperzapper
1. EMR version 5.24.1 and Spark version 2.4.2. Cluster contains a master and one worker, both m3.xlarge (15 GB memory). Tested on a larger cluster as well with the same results.
2. Stack trace at the bottom of this.
3. It happens for certain files that are larger than 20 GB. The other error that occurs is a timeout when reading file metadata, and the message says the file might be

[2019-07-23 21:33] thesuperzapper commented on #51
@westonsankey
I wonder if its to do with Scala 2.12 (which is used in Spark 2.4.2 only), as we only compile for 2.11 right now. Can you try with Spark 2.4.3 or Spark 2.4.1?

This might become an issue, because we use a crazy hack to use the Parso library, and I doubt it works in Scala 2.12.

[2019-07-24 20:12] westonsankey commented on #51
@thesuperzapper
Tried running on a couple older EMR/Spark versions but had no success.

[2019-07-24 22:03] thesuperzapper commented on #51
@westonsankey
1. Are you able to run it in local mode?
2. Can you provide the worker stack trace, rather than just the driver one? (If not running in local mode)
3. Just to confirm, are you using Scala or PySpark?
4. I know it will be difficult, but could you create a 20gb file with a similar method to how you make your normal one, but with random data in it. (Unless the dataset can be public) [Yo

[2019-07-25 11:00] thesuperzapper commented on #51
@westonsankey could you also try setting `maxSplitSize` to larger than the file, and doing it with one server, I know it will take awhile, but this will let us confirm if it’s an issue with splitting. (I wonder if it something to do with page sizes larger than 1 MB)

[2019-07-26 11:50] westonsankey commented on #51
@thesuperzapper - Tried setting the `maxSplitSize` to force a single partition, but that resulted in the same error.

I wrote a small Java program using the Parso library to iterate over the rows in the SAS file to see if there were any errors parsing a single row. Turns out that is the issue - I get the `IOException` indicating that there are no available bytes in the input stream on a single row

[2019-07-26 12:31] thesuperzapper commented on #51
@westonsankey can you raise an issue here: https://github.com/epam/parso

[2019-07-29 13:41] #51 closed

[2019-09-03 22:28] westonsankey opened #52 "Not all records from SAS file being loaded into DataFrame"
I'm running into an issue where the DataFrame is missing a small percentage (0.05%) of records when using the library to load from a SAS file. I ran a test just using the Parso library, and it was able to read all of the records. Additionally, I tried using the sas7bdat Python library and that was able to read all of the data as well.

[2019-09-04 08:01] thesuperzapper commented on #52
Can you provide a sas file (without sensitive data) which has this issue?

If possible, also provide a CSV version so we can see which rows get dropped .

[2019-09-04 10:51] westonsankey commented on #52
Unfortunately I can't provide the SAS file, as it contains sensitive information. Was hoping that you have possibly heard of this issue and could point me in the right direction.

I tried setting the `minSplitSize` so that it forces a single partition, but that resulted in the same incorrect number of records.

[2019-09-04 15:16] westonsankey commented on #52
I did some additional troubleshooting and this appears to be a Parso issue.

[2019-09-04 15:16] #52 closed

[2019-09-04 21:38] thesuperzapper commented on #52
@westonsankey even though you can't provide that specific file, can you create a new file which also has that issue, and then submit it on the parso issue tracker?

[2019-10-16 15:18] SrikaranJangidi opened #53 "Unable to load sasdata set into Spark 2.3.0"
Hi
We have a spark cluster with Spark 2.3.0.
The jar spark-sas7bdat-2.1.0-s_2.11.jar  is not working for Spark 2.3.0 and it seems it will work for Spark 2.2.0
Please suggest if there is a work around for Spark 2.3.0 or we have to downgrade spark version to Spark 2.2.0

[2019-10-20 07:03] thesuperzapper commented on #53
@SrikaranJangidi This package should work with all versions of Spark 2, can you describe the error you are getting. (Logs, etc)

[2019-10-23 15:22] SrikaranJangidi commented on #53
@thesuperzapper Thanks for responding. Below is the information.
Please let us know if more information is needed.

We are trying to read this file: datetime.sas7bdat which is available on this GitHub page: https://github.com/saurfang/spark-sas7bdat and getting this error:
Code used:
# create spark session
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("yarn").appName("s

[2019-10-24 09:14] thesuperzapper commented on #53
@SrikaranJangidi that error is usually associated with a corrupt file, can you:
* check if the size of the file seems reasonable (not 1kb or something)
* try read the file with sas
* try another file you know not to be corrupted

[2019-10-24 15:46] SrikaranJangidi commented on #53
@thesuperzapper I checked with my developer and below is his response. He tried with another file as well. Please advise.

##
The file is not corrupted as I am able to read it using pandas.

import pandas as pd
df = pd.read_sas('datetime.sas7bdat',format='sas7bdat')

Also, I tried to read another file: ag121a_supp.sample which is of size 715kb and still getting the same error. This file is also av

[2019-11-05 17:20] SrikaranJangidi commented on #53
Hi. Any update on this please?

Thanks
Srkaran.

[2019-11-06 13:08] chonterry commented on #53
Hi, I am running into this issue as well.

java.util.concurrent.TimeoutException: Timed out after 60 sec while reading file metadata

Thanks,
Terry

[2019-11-06 15:13] nelson2005 commented on #53
Make sure the parso library is available, thought I wouldn't expect that's the cause of this particular error.  FWIW I haven't had any problems with this library on Spark 2.2, 2.3, or 2.4.

[2019-11-06 15:43] chonterry commented on #53
Hello - Thanks for the comment re: parso library inclusion.  After I included parso, I now get the following:

py4j.protocol.Py4JJavaError: An error occurred while calling o66.load.
: java.lang.ClassCastException: java.util.Arrays$ArrayList cannot be cast to java.util.Set

[2019-11-06 17:52] chonterry opened #54 "SAS7BDAT read issue (java.util.Arrays$ArrayList cannot be cast to java.util.Set)"
I get the following error when I execute the following:

df = sqlContext.read.format("com.github.saurfang.sas.spark").load('sas7bdat path')

Any idea what may be causing this issue?

error:

py4j.protocol.Py4JJavaError: An error occurred while calling o66.load.
: java.lang.ClassCastException: java.util.Arrays$ArrayList cannot be cast to java.util.Set
	at com.github.saurfang.sas.parso.ParsoWrapper$

[2019-11-06 18:35] chonterry commented on #54
Sorry.  Issue resolved.  Please ensure that you are using 2.0.10.  I was originally using 2.0..

[2019-11-06 18:35] #54 closed

[2019-11-06 19:05] chonterry commented on #53
Hi - The above was caused by using an parso version < 2.0.10.  It is imperative that 2.0.10 is being used.  I missed that requirement.  The issue above has been resolved after referencing parso 2.0.10.

Also, initially I did not reference parso jar in the execution.  Therefore it was producing:

java.util.concurrent.TimeoutException: Timed out after 60 sec while reading file metadata

After refere

[2020-01-22 14:18] ss23697 commented on #37
Hi,

Can someone please help me, Im facing a similar issue. I tried setting the timezone to UTC but it is not working in spark yarn mode. It is only working in local mode.

Can someone please provide a snippet for how to get the correct date by setting timezone in pyspark yarn mode.

Thanks
Subhankar

[2020-01-22 15:40] nelson2005 commented on #37
These options don't work for you?

--driver-java-options="-Droot.logger=ERROR,console -Duser.timezone=UTC" --conf "spark.yarn.extraJavaOptions=-Duser.timezone=UTC" --conf "spark.executor.extraJavaOptions=-Duser.timezone=UTC"

[2020-03-17 11:41] yivanova88 opened #55 "Decompression on sas7bdat.bz2 file is not distributed across worker nodes"
Hello,

I have been experimenting with the bz2 decompression functionality in the repo's master branch which isn't part of your last release. When a bz2 compressed file is read, the decompression seems to be happening on one worker node only. Is it possible to parallelise the decompression of externally compressed files?

Thanks in advance for your response.

[2020-03-27 14:28] jene4ekjene4ek commented on #48
Hi all. I have the same problem with this file. The file is not corrupted, because I read it with pandas.
[alcohol.zip](https://github.com/saurfang/spark-sas7bdat/files/4394045/alcohol.zip)

[2020-04-17 10:21] mazenora commented on #48
I had the same problem, so i read the file with pandas then convert it to Spark DataFrame.
`df = pd.read_sas('YOUR_FILE',format='sas7bdat')
mySchema = StructType([ ]) <-- create suitable schema structure for spark
spark_df   = spark.createDataFrame(df,schema=mySchema)
`

[2020-04-17 11:16] jene4ekjene4ek commented on #48
I've solved this issue by using jars parso and spark-sas7bdat

[2020-04-17 14:38] mazenora commented on #48
could you please share the code?

[2020-04-20 18:26] jene4ekjene4ek commented on #48
In my project folder I have folder jars with parso-2.0.10.jar  and spark-sas7bdat-2.1.0-s_2.11.jar (I added printscreen) and run my script as spark-submit --jars jars/spark-sas7bdat-2.1.0-s_2.11.jar,jars/parso-2.0.10.jar  script.py

 spark = SparkSession.builder.config("spark.jars.packages", "saurfang:spark-sas7bdat:2.1.0-s_2.11") .getOrCreate()

df = spark.read.format('com.github.saurfang.sas.spa

[2020-06-16 16:51] dmoore247 commented on #53
importing parso 2.0.10, with spark 2.4.5 and restarting fixed this type of error for me. This works really well now!

[2020-06-30 22:33] dmoore247 commented on #45
Hmmm, one approach is N writes to the Delta Lake format (delta.io) with .option("mergeSchema","true")
My use case didn't call for merge schema, it did call for multiple parallel writes. This is my PySpark code with the merge schema option... I'd rather see this built into the reader.
[code]

[2020-06-30 22:35] dmoore247 opened #56 "Enhancement: Write to .sas7bdat files from Spark Dataframes"
The docs say this isn't supported but putting this out there as an enhancement request. Definitely not easy, can't find anything outside of SAS that writes to SAS7BDAT files.

[2020-06-30 22:42] Tagar commented on #56
Doug, I think the issue is that the underlying library that spark-sas7bdat uses, [parso](https://github.com/epam/parso)
only has SasFileReader and not SasFileWriter
https://github.com/epam/parso/tree/master/src/main/java/com/epam/parso

[2020-06-30 22:44] Tagar commented on #56
https://github.com/epam/parso/issues/31

[2020-07-27 18:13] Tagar opened #57 "Spark 3 / Scala 2.12 compatibility"
Any chance to release a new version of the `spark-sas7bdat` library with Scala 2.12 to make it compatible with Spark 3.x releases?

[2020-08-04 23:35] pkolli-caredx commented on #57
I also tried updating the scala version and rebuilding the JAR , facing compatibility issues

[2020-08-05 14:25] srowen commented on #57
I got it compiling with minor changes, and seemingly just one test failure, related to the SQLContext implicit (which is not really to be used in Spark 3). I haven't tested it but getting a compiled JAR is easy enough. I could open a PR (or branch) as an example if anyone wants to try it or run with it.

[2020-08-05 14:29] pkolli-caredx commented on #57
@srowen could you pls share the JAR , I will test it in Databricks 7.0 ML with scala 2.12?

[2020-08-05 14:34] srowen commented on #57
OK I'm curious to know if this Just Works:
https://drive.google.com/file/d/1VnF0gnG88ClyXWoHMlXFgvHcVUY7Yo-j/view?usp=sharing

[2020-08-05 14:48] pkolli-caredx commented on #57
java.lang.BootstrapMethodError: java.lang.NoClassDefFoundError: com/epam/parso/impl/SasFileReaderImpl

--------------------------------------------------------------------------
Py4JJavaError                             Traceback (most recent call last)
<command-1515008357281740> in <module>
----> 1 df=spark.read.format('com.github.saurfang.sas.spark').load("/mnt/tdp/External_DataRepository/USRDS/

[2020-08-05 15:07] srowen commented on #57
Oops, right, I needed to produce the assembly JAR. Try this:

https://drive.google.com/file/d/1N_i-I34rFzboJ7J_aIs2rirGKjjIawDv/view?usp=sharing

[2020-08-05 15:12] pkolli-caredx commented on #57
df10 =spark.read.format('com.github.saurfang.sas.spark').load("/mnt/tdp/*/capd.sas7bdat")

java.lang.BootstrapMethodError: java.lang.NoClassDefFoundError:

---------------------------------------------------------------------------
Py4JJavaError                             Traceback (most recent call last)
<command-1515008357281740> in <module>
----> 1 df10 =spark.read.format('com.github.saurfang.

[2020-08-05 15:16] srowen commented on #57
Darn, OK, maybe this doesn't Just Work. That's a weird error though. It doesn't say what class isn't found. And it compiles, so that's surprising. hm, not sure I have other ideas, sorry. But the changes to compile are at least not hard!

[2020-08-05 15:19] pkolli-caredx commented on #57
Thanks for the help :) looking for help from the core team @mulya @thadeusb @Forest Fang

[2020-08-05 15:52] Tagar commented on #57
@srowen thank you!

It says it didn't find parso library

: java.lang.BootstrapMethodError: java.lang.NoClassDefFoundError: com/epam/parso/impl/SasFileReaderImpl

Perhaps that jar should also contain parso library?
https://mvnrepository.com/artifact/com.epam/parso

spark-sas7bdat knows how to split sas7bdat files, but actual parsing happens in the parso library.

[2020-08-05 15:54] srowen commented on #57
Oh yeah, ignore that. In the Maven published version, it says parso is a dependency, so apps will correctly pick it up. For this test with a JAR file only I needed to create the assembly jar with dependencies bundled. The second error is what I'm now looking at.

[2020-08-05 15:58] Tagar commented on #57
Makes sense, got it now. Yep it's weird it didn't report class name in the exception.

cc @saurfang

[2020-08-06 00:26] thesuperzapper commented on #57
I bet this error is caused by us breaking method protection with a reflection bug. (We are using this to access private method of parso classes)

I asked them to make the methods I needed public ages ago, [see here](https://github.com/epam/parso/issues/51)

[2020-08-06 00:31] srowen commented on #57
Could be, though I might expect a different error, not 'class not found'. It's entirely possible my assembly JAR isn't quite right. Like I notice the assembly from the build would include Scala libs (including scala-reflect) and I don't know, may cause some problem. But the scala version matches Spark 3's.

[2020-08-06 01:35] saurfang commented on #57
@srowen can you open a PR even if it is a WIP?

[2020-08-06 02:03] srowen commented on #57
Sure, it's trivial, but: https://github.com/saurfang/spark-sas7bdat/pull/58

[2020-08-06 04:39] thesuperzapper commented on #57
I am also working on PR #59.

[2020-08-19 02:04] Tagar commented on #57
@thesuperzapper
Parso now has those fixes as part of `2.0.12-SNAPSHOT` deployed into maven.
Would it make sense to adjust PR #59 to use this new snapshot, or it has to wait the full release? Thx!

[2020-08-19 03:09] thesuperzapper commented on #57
They should definitely be separate PRs (as long as Spark 3.0.0 works without those changes)

[2020-08-19 05:04] pkolli-caredx commented on #57
@srowen Could you pls send us the updated JAR?

[2020-08-19 13:29] srowen commented on #57
@pkolli-caredx an you just build a new JAR from #59 ?

[2020-08-19 22:42] pkolli-caredx commented on #57
@srowen getting build errors, the owner of the repo should merge

[2020-08-31 04:12] Speccles96 commented on #53
Can anyone tell me how to download and import Parso? I am getting this same issue and think it is because I don't have parso installed properly

[2020-08-31 04:20] thesuperzapper commented on #53
@Speccles96, just download the jar from maven and pass it with `spark-submit --jars`

You can find the link at the top of the README.md under "requirements"

[2020-08-31 04:55] Speccles96 commented on #53
@thesuperzapper Maybe I'm not fully understanding, but how would I run spark-submit --jars in my python script? What I am doing is starting up a jupyter notebook and running the code below. I put the parso-2.0.10.jar in my Java\lib path with all of the other .jars

Spark Version:2.4.6
Scala Version:2.12.2
Java Version:1.8.0_261

`import findspark
findspark.init()
from pyspark.sql.session import Sp

[2020-09-11 18:37] ianjghent opened #60 "spark-sas7bdat wins WiseWithData ELEVATE Award"
Please excuse the use of an issue for this. Forest @saurfang, you have been awarded the [WiseWithData ELEVATE OSS Maintainer of the Year award](https://www.wisewithdata.com/2020/09/elevate-humanitarian-oss-award-winners/). We've reached out via LinkedIn, but we haven't got a response and we can't find an email. Please email me at ian.ghent@wisewithdata.com to claim your award.

[2020-09-13 00:29] saurfang commented on #60
Thanks for reaching ou. I'm flattered and will get in touch offline :)

[2020-09-13 00:29] #60 closed

[2020-09-13 01:16] saurfang commented on #57
Thanks to @thesuperzapper and others, a new version with Spark 3.x compatibility is now released. Please see the latest version on README, give it a try, and see if it works for you.

[2020-09-13 01:22] #48 closed

[2020-09-14 01:34] thesuperzapper opened #61 "undoumented changes in NEWS.md"
I believe that we might have forgot to include the gzip feature found in PR #50 to the 3.0.0 release NEWS.md

[2020-09-14 01:34] thesuperzapper commented on #61
@saurfang

[2020-09-14 01:39] thesuperzapper commented on #61
Also, we might want to consider updating the README.md requirements and compatibility matrix to state we no longer support Spark versions before `2.4.X`.

As you can see we are now doing travis matrix with `2.4.6` (which only guarantees support for Spark `2.4.X`)

[2020-09-14 04:16] saurfang commented on #61
Good catch! Done 🙏

[2020-09-14 04:16] #61 closed

[2020-09-14 04:20] saurfang commented on #55
based on https://github.com/saurfang/spark-sas7bdat/pull/50 this seems to be expected. bz2 is indeed splittable but we need to seek for page boundaries within sas files. the easiest workaround is probably decompress and parse separately both should be parallelizable.

[2020-09-14 04:20] #36 closed

[2020-09-16 23:04] Tagar commented on #57
Thank you @thesuperzapper and @saurfang

[2020-09-22 21:50] #57 closed

[2020-10-08 06:27] thesuperzapper commented on #53
@saurfang can you close this?

[2020-10-08 06:31] saurfang commented on #53
@thesuperzapper I added you as a collaborator and you shall feel free to close any issues that you feel are already addressed or stale. ty!

[2020-10-08 06:31] #53 closed

[2020-10-29 11:12] jatinbajaj777 opened #62 "Issue : The tab space after the string is removed after reading in by the jar"
The tab space after any string value in a column is removed after reading in by the jar. The length of the below data frame is different.

+---------+------------+-----------------+------------+
|Text_Only|Text_Tab_Beg|     Text_Tab_Mid|Text_Tab_End|
+---------+------------+-----------------+------------+
| ABCDEFGH|     ABCDEFGH|ABCDEFGH       IJKLMNOP|    ABCDEFGH|
+---------+------------+------

[2020-10-29 23:15] thesuperzapper commented on #62
@jatinbajaj777 Can you please provide a basic SAS7BDAT file which causes this error?

[2020-10-30 07:52] jatinbajaj777 commented on #62
Attaching the sample SAS7BDAT file which covers all above scenarios.

[atest.sas7bdat.txt](https://github.com/saurfang/spark-sas7bdat/files/5463665/atest.sas7bdat.txt)

Also, the code below to generate the SAS7BDAT file.

    Text_Only     = "ABCDEFGH";
    Text_Tab_Beg  = cats( '09'x, "ABCDEFGH" );
    Text_Tab_End  = cats( "ABCDEFGH", '09'x );
    Text_Tab_Mid  = cats( "ABCDEFGH", '09'x, "IJKLMN

[2020-11-03 22:41] thesuperzapper commented on #62
@jatinbajaj777 Can you also provide that same data in a common format (like CSV) so we can see what it should look like?

[2020-12-10 19:15] marchub commented on #52
I have a similar issue in that we read a large SAS file with 2.1.0 and it works  but misses a few rows. It appears that the rows we miss at the ones that were appended or modified later manually via the SAS UI by users. Is this an issue with Parso missing these modified/appended rows? Or is this related to spark-sas7bdat?

@westonsankey did you find the source of your issue? It might be related. T

[2020-12-13 20:23] thesuperzapper commented on #52
@marchub can you raise an new GitHub Issue, with an example file displaying the behaviour you reported?

Preferably, could you also upload a CSV version of file, so we can see what it should contain?

[2021-02-10 20:48] warrenmsmith opened #63 "Change in Parso Breaks spark-sas7bdat"
This commit here:

https://github.com/epam/parso/commit/81c6608c6507409581659fff8c83ae20e44f5101#diff-746ec30848c9c785bcffda73b685a39ffec656f7bb971f2a2471e50ea92ae89b

Removes DATE_FORMAT_STRINGS, et al which are needed in

 com.github.saurfang.sas.parso.ParsoWrapper$.DATE_FORMAT_STRINGS$lzycompute(ParsoWrapper.scala:37)
 at com.github.saurfang.sas.parso.ParsoWrapper$.DATE_FORMAT_STRINGS(ParsoWrap

[2021-02-12 10:42] xantorohara commented on #63
Hi, commit you mentioned is not relevant to this bug.

Actually, SasFileConstants class was refactored two years ago: https://github.com/epam/parso/commit/ee01e3f51f91aa9a093f52e680d9bb5bf594ed89#diff-746ec30848c9c785bcffda73b685a39ffec656f7bb971f2a2471e50ea92ae89b
In scope of that change the DATE_FORMAT_STRINGS and other date-related constants were moved to the DateTimeConstants class.

Note that

[2021-05-17 15:23] mathsmith opened #64 "Bintray Returning 403 Forbidden Request for Entire Spark Packages"
If I go here: http://dl.bintray.com/spark-packages/maven/saurfang/spark-sas7bdat/3.0.0-s_2.12/spark-sas7bdat-3.0.0-s_2.12.jar

![image](https://user-images.githubusercontent.com/37921337/118513612-e5039680-b701-11eb-928c-ede8f9c603cc.png)

It returns a 403 forbidden response.

Additionally, I went to the highest level of the website (https://dl.bintray.com/) and it seems that it does not work as w

[2021-05-20 12:04] jrishabh81 commented on #64
@mathsmith I am also facing the same issue.
Bintray is no more active. I think developers need to change the artifactory to someplace else.
I am currently building the jar from the sources.

[2021-05-21 17:29] Kalyan-D opened #65 "UNRESOLVED DEPENDENCIES"
:: USE VERBOSE OR DEBUG MESSAGE LEVEL FOR MORE DETAILS
Exception in thread "main" java.lang.RuntimeException: [unresolved dependency: saurfang#spark-sas7bdat;3.0.0-s_2.12: not found]
        at org.apache.spark.deploy.SparkSubmitUtils$.resolveMavenCoordinates(SparkSubmit.scala:1304)
        at org.apache.spark.deploy.DependencyUtils$.resolveMavenDependencies(DependencyUtils.scala:54)
        at or

[2021-05-31 05:49] thesuperzapper commented on #64
@mathsmith @jrishabh81 Bintray is no longer up according to this news:
https://spark.apache.org/news/new-repository-service.html

You should still be able to download the compiled jars from spark-packages:
https://spark-packages.org/package/saurfang/spark-sas7bdat

[2021-05-31 05:49] thesuperzapper commented on #64
@saurfang I am working on removing our own dependency (during build) on bintray, which means removing the now _very_ deprecated `sbt-spark-packages` sbt plugin

[2021-05-31 05:54] thesuperzapper commented on #65
@Kalyan-D the bintray repository has been sunset according to: https://spark.apache.org/news/new-repository-service.html

You will need to update to a newer version of spark `2.4.8`, `3.0.3` or `3.1.2` (which are not all out yet) to continue using the `--packages` method, otherwise you will need to pass the [spark-sas7bdat jar](https://spark-packages.org/package/saurfang/spark-sas7bdat) and [parso

[2021-07-12 13:27] uareddy opened #66 "Unable to read properly grouped columns with Delimiter"
Hi ,

I am trying to read a sas7bdat file like where multiple column values are separated with delimiters and placed in a single column.

for example
[test_sas.xlsx](https://github.com/saurfang/spark-sas7bdat/files/6801644/test_sas.xlsx)

[2021-09-02 08:00] leoliu0 opened #67 "java.lang.BootstrapMethodError"
Thanks for the great tool. I use pyspark on Spark 3.1.1, but when I read SAS file, it gives the following error

: java.lang.BootstrapMethodError: java.lang.NoClassDefFoundError: com/epam/parso/impl/SasFileReaderImpl
	at com.github.saurfang.sas.spark.SasRelation.inferSchema(SasRelation.scala:186)
	at com.github.saurfang.sas.spark.SasRelation.<init>(SasRelation.scala:73)
	at com.github.saurfang.sas

[2021-09-15 17:11] ayan2k21 opened #68 "All numeric columns getting converted to Double"
This is to report that I am reading a sas dataset mentioned below, which has 6 columns. The first column is "YEAR" which is of numeric type with length 4, does not have precision, yet it is getting converted to Double.

http://www.principlesofeconometrics.com/sas/airline.sas7bdat

While testing using java program with parso library, I could identify that **columnFormatWidth** for the column is com

[2021-12-01 20:09] mrugesh1989 commented on #37
I am having similar issue for date conversion where date is off by 2 days for the year > 4000. I think that issue is tackled in parso latest version 2.14 but the Saurfang latest version is using parso 2.11. Do anyone knows how to make parso 2.14 version work with saurfang 3.0 ?

[2021-12-07 15:23] mrugesh1989 commented on #63
@warrenmsmith  - i am getting the same error when i try to run saurfang-3.0.0 with parso-2.0.14. it will be great if you can share the workaround of this issue.

[2021-12-15 06:51] thesuperzapper commented on #68
@ayan2k21 review the docs for the `parameters` in the readme, it should become more clear.

By default, everything is a double, but if you enable parameters like `inferLong` or `inferInt ` you will get `long`/`int` depending on the format width/precion.

[2022-01-08 14:07] yogesh305 opened #69 "Unable to read sas7bdat file in pyspark"
Please help me figure out what's I am missing in loading the sas7bdat file.
pyspark version:2.4.0
python version:3.6.13

please find error in below image

![Capture](https://user-images.githubusercontent.com/30197775/148647194-ce48e5e6-1955-4c82-acb3-44e2c869bd84.PNG)

[2022-03-11 15:17] Antalares commented on #49
Hi,

I'm facing the same issue.
The command "sc._jsc.hadoopConfiguration().set("fs.azure.account.key.{}.blob.core.windows.net".format(account_name), account_key)" can resolve this issue but this implies storing credential on cluster and not only for spark session.

There is a workaround byusing following command ?
spark.conf.set( "fs.azure.account.key.{}.blob.core.windows.net".format(account_name)

[2022-03-21 09:32] Blizzke commented on #69
Sorry, this is not what you want to hear after months of no reply, but I wanted to report I have exactly the same issue.
Here it's on Spark 2.4.7
Getting the impression this is no longer being maintained.

[2022-03-21 10:54] Blizzke commented on #69
Okay back with (hopefully) better news: Turns out this is a scala problem, not a spark problem. For me, the solution was actually what is mentioned in the README: Use 3.0.0-s_2.11 instead of 3.0.0-s_2.12 (which is for Spark 3). It's mentioned pretty cleary but I still over-read it. Hope that helps. I managed to get it to work in any case.

[2022-03-23 13:40] mscaldas2012 opened #70 "Unable to read sas file without using Mounts"
Hi,
When using mounts -  dbutils.fs.mount(...)- the plugin works perfectly with for example `spark.read.format("com.github.saurfang.sas.spark").load("/mnt/mysasfile.sas7bdat")`
But when using Cluster-scoped or Session-scoped Service principals without mounts, the plug-in does not seem to respect that and I get an error equivalent as to not passing the SP credentials at all. (pattern n.4 here -> ht

[2022-04-01 10:57] Saiteja-136 opened #71 "Can we read SAS files with .spds9 file extension"
Hello,
I cam across .spds9 file extension sas files and got to know these are the files created by partition logic for huge sas files to read them faster into metadata and data files. Can we read such files with this code or please suggest if there is any alternative. Thanks in Advance

[2022-04-04 04:46] thesuperzapper commented on #71
@Saiteja-136 the `spark-sas7bdat` library uses the [epam/parso](https://github.com/epam/parso) Java library internally to read the SAS data, if you want them to support `.spds9` files, you will need to ask them (perhaps, raise an issue on their repo).

Alternatively, if you know of a good open-source Java library that reads `.spds9` files, we could consider implementing that into `spark-sas7bdat`.

[2022-05-04 13:15] mrcmoresi opened #72 "Can't load directory with sas7bdat files"
I'm trying to load a bunch of files that have the same schema (all the files are a dump from the same table in SAS). The expected result is a dataframe with the concatenation of all the sas files.

Apache Spark 3.1.2
Scala 2.12
com.epam:parso:2.0.14
saurfang:spark-sas7bdat:3.0.0-s_2.12

Code
[code]
And I get this error when I run the command

[code]

[2022-06-22 11:43] CousinsP opened #73 "Parso Version Update"
Please can we have a new version which uses the latest version of Parso. In maven, for use in Databricks.
We're experiencing an issue which this may resolve.
Many thanks,
Pete Cousins.

[2022-06-24 14:59] CousinsP commented on #72
Can't you loop through all the files and load them individually?

[2022-06-29 06:03] mrcmoresi commented on #72
Yes, that was the workaround that I used but I was wondering if was possible to load all of them at the same time.

[2022-07-27 15:10] dqwoei opened #74 "InvalidInputException"
Hi,

I'm getting an InvalidInputException when I'm trying to access the data of the dataframe. It seems to be accessing the metadata of the sas table fine, but when I run df.first(), df.take(10) or df.select("*").toPandas() I get the exception. I tried both with a local file as well as a file in hdfs.

DataFrame[id: double, desc: string, start_dt: date, end_dt: date]

Traceback (most recent call l